{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    
<<<<<<< HEAD
<h1>hhhh</h1>
=======
<h1>hhhhrsgh</h1>
>>>>>>> cf62c179630bfbd63b669aab0110244253fa3841
{% endblock %}
