{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}
    <!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div id="aside" class="col-md-3 filtrer">
						{% include 'produits/_filtrer.html.twig' with {form: form} only  %} 
						{# with {form: form} only #}
					</div>
    
                    <div class="section-title text-center">
							<h3 class="title">Tous Les Produits</h3>
						</div>
                    <div class="col-md-9">
                        <!-- STORE -->
                                    <div class="store-filter clearfix">
                                            <div class="store-sort">
                                                <label>
                                                    TRIER PAR:
                                                    <select class="input-select">
                                                        <option value="0">Prix croissant</option>
                                                        <option value="0">Prix décroissant</option>
                                                    </select>
                                                </label>

                                                <label>
                                                   <p class="titre-list-prod"> il y a {{ prod['value']}} produits </p>
                                                </label>
                                            </div>
                                            {# <div class="cf">
                                                <div class="Switch card">
                                                    <div class="Toggle"></div>
                                                    <span class="on"><i class="fa fa-th"></i>
                                                    <span class="off"><i class="fa fa-th-list"></i></a>
                                                </div>
                                            </div> #}
                                            <div class='cf'>
                                                <div class="Switch card">
                                                    <div class="Toggle"></div>
                                                    <span class="on"><i class="fa fa-th"></i></span>
                                                    <span class="off"><i class="fa fa-th-list"></i></span>
                                                </div>
                                            </div>
   
                                    </div>
                                    <!-- /STORE -->
                        <div class="colmd3">
                            <!-- product -->
                            {% for produit in produits %}
                                {% include 'produits/_card.html.twig'  %}
                            {% endfor %}
                            <!-- /product -->
                        </div>

                        <div class="navigation">
                            {{ knp_pagination_render(produits) }}
                        </div>
                    </div>


				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
            

		</div>
		<!-- /Section -->
        
        
{% endblock %}
